@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0a0a0a;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
}

* {
  cursor: none;
}

html,
body,
#root {
  min-height: 100%;
  background:
    radial-gradient(
      circle at top,
      rgba(59, 130, 246, 0.04),
      transparent 50%
    ),
    #fafafa;
}